<div class="row">
  <div class="col-md-4 text-center d-flex flex-column justify-content-center">
    <h1 class="pt-2">
      <ng-container i18n>Hi</ng-container>, {{ actor.name }}!
    </h1>
    <p class="lead">
      <i class="fa-solid fa-envelope"></i>
      {{ actor.email }}
    </p>
  </div>
  <div class="col-md-8 p-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h4>{{ actor.name }} {{ actor.surname }}</h4>
            <p>
              <span *ngIf="actor.address">
                <i class="fa-regular fa-location-dot"></i>
              </span>
              {{ actor.address }}<br />
              <span *ngIf="actor.phone">
                <i class="fa-regular fa-phone"></i>
              </span>
              {{ actor.phone }}
            </p>
          </div>
          <div class="col-3 text-end">
            <h4>
              <span *ngIf="actor.role == 'EXPLORER'" class="badge bg-success">{{
                actor.role[0].toLowerCase()
              }}</span>
              <span *ngIf="actor.role == 'MANAGER'" class="badge bg-warning">{{
                actor.role[0].toLowerCase()
              }}</span>
              <span *ngIf="actor.role == 'SPONSOR'" class="badge bg-info">{{
                actor.role[0].toLowerCase()
              }}</span>
              <span
                *ngIf="actor.role == 'ADMINISTRATOR'"
                class="badge bg-primary"
                >{{ actor.role[0].toLowerCase() }}</span
              >
            </h4>
          </div>
        </div>
        <div class="row">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              i18n
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#profileEditModal"
            >
              Edit profile
            </button>
            <button
              i18n
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#profilePasswordEditModal"
            >
              Change password
            </button>
          </div>
        </div>
        <app-message></app-message>
      </div>
    </div>
  </div>
  <app-profile-edit
    (actorUpdatedEvent)="handleUpdatedActor($event)"
  ></app-profile-edit>
  <app-profile-password-edit></app-profile-password-edit>
</div>
