<div class="row">
  <div class="col-md-4 text-center d-flex flex-column justify-content-center">
    <h1 class="pt-2">Hi, {{ actor.name }}!</h1>
    <p class="lead">{{ actor.email }}</p>
  </div>
  <div class="col-md-8 p-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4>{{ actor.name }} {{ actor.surname }}</h4>
            <p>
              {{ actor.address }}<br />
              {{ actor.phone }}
            </p>
          </div>
          <div class="col text-end">
            <h4>
              <span class="badge bg-success">{{
                actor.role[0].toLocaleLowerCase()
              }}</span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button type="button" class="btn btn-outline-primary">
              Edit profile
            </button>
            <button type="button" class="btn btn-outline-primary">
              Change password
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
