<main>
  <div class="row my-3 py-2">
    <div class="col">
      <div class="display-1 text-center">Acme Explorer</div>
    </div>
  </div>
  <div class="row py-2">
    <div
      class="col-10 offset-1 col-md-6 offset-md-1 col-lg-4 offset-lg-2 d-flex flex-column justify-content-center"
    >
      <div class="p-5 shadow rounded">
        <p i18n class="lead">Explore, dream, discover</p>
        <p i18n>
          Welcome to our travel agency! We specialize in making our clients'
          travel dreams come true. From adventure to romantic getaways, we do it
          all!
        </p>
        <p i18n>
          Are you looking for an exciting destination or just want to relax on
          the beach? on the beach? We have the experience and resources to make
          your trip unforgettable. make your trip unforgettable.
        </p>
        <button i18n routerLink="/trips" class="btn btn-success">
          Search for trips
        </button>
      </div>
    </div>

    <div class="d-none d-md-block col-md-4 col-lg-3 offset-lg-1">
      <img
        class="img-fluid rounded shadow"
        src="../../../../assets/images/acme-explorer-home-banner.jpg"
        alt=""
      />
    </div>
  </div>
</main>
