<div *ngIf="applications && applications.length > 0" class="row g-4 mt-2">
  <div class="row mt-2">
    <div class="col-12 col-md-6 offset-md-3">
      <h1 i18n *ngIf="activeRole === 'explorer'">My Applications</h1>
      <h1 i18n *ngIf="activeRole === 'manager'">Trip Applications</h1>
    </div>
  </div>
  <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="accordion mt-3" id="applicationsAccordion">
      <app-message></app-message>
      <div *ngFor="let application of applications" class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#app' + application._id" aria-expanded="false"
            [attr.aria-controls]="application._id">
            <span *ngIf="application.status == 'ACCEPTED'" class="badge bg-primary me-2">
              #PAID
            </span>
            <span *ngIf="application.status == 'PENDING'" class="badge bg-info me-2">
              #{{ application.status }}
            </span>
            <span *ngIf="application.status == 'CANCELLED'" class="badge bg-danger me-2">
              #{{ application.status }}
            </span>
            <span *ngIf="application.status == 'REJECTED'" class="badge bg-warning me-2">
              #{{ application.status }}
            </span>
            <span *ngIf="application.status == 'DUE'" class="badge bg-success me-2">
              #{{ application.status }}
            </span>
            <span class="me-2">{{ application._id }}</span>
          </button>
        </h2>
        <div id="{{ 'app' + application._id }}" class="accordion-collapse collapse"
          data-bs-parent="#applicationsAccordion">
          <div class="accordion-body">
            <div class="row">
              <div class="col">
                <p>
                  <strong i18n> Request date:</strong>
                  {{ application.requestDate | date : "shortDate" }}
                </p>
              </div>
              <div class="col text-end">
                <p>
                  <a i18n routerLink="/trips/{{ application.trip_id }}">
                    Go to trip</a>
                </p>
              </div>
            </div>
            <p><strong i18n>Comments:</strong> {{ application.comment }}</p>
            <div
              *ngIf="application.status == 'DUE' && activeRole == 'explorer'" class="mb-3"
            >
              <app-payment-info
                [tripId]="application.trip_id"
                [applicationId]="application._id"
              ></app-payment-info>
            </div>
            <div *ngIf="application.status == 'REJECTED'" class="card text-bg-warning mb-3">
              <div class="card-body">
                <h5 i18n class="card-title">Rejected reason:</h5>
                <p class="card-text">{{ application.rejectedReason }}</p>
              </div>
            </div>
            <div *ngIf="activeRole === 'manager' && application.status == 'PENDING'" class="text-end">
              <button i18n type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal"
                [attr.data-bs-target]="'#rejectApplicationModal' + application._id">Reject</button>
              <button i18n type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                [attr.data-bs-target]="'#dueApplicationModal' + application._id">Due</button>
            </div>
            <div
              *ngIf="activeRole === 'explorer' && application.status != 'CANCELLED' && application.status != 'ACCEPTED'"
              class="text-end">
              <button i18n type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                [attr.data-bs-target]="'#cancellationModal' + application._id">Cancel</button>
            </div>
            <app-cancellation (applicationCancelledEvent)="handleCanceledApplication($event)"
              [applicationId]="application._id"></app-cancellation>
            <app-reject-application (applicationRejectedEvent)="handleRejectedApplication($event)"
              [applicationId]="application._id"></app-reject-application>
            <app-due-application (applicationDueEvent)="handleDueApplication($event)"
              [applicationId]="application._id"></app-due-application>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>