<div class="timer-card" *ngIf="showCounter; else tripStarted">
  <div class="timer-icon">
    <i class="far fa-clock"></i>
  </div>
  <div class="timer">
    <span id="days"> {{ daysToDday }} </span
    ><ng-container i18n>Days</ng-container>,
    <span id="hours"> {{ hoursToDday }} </span>:
    <span id="minutes"> {{ ("0" + minutesToDday).slice(-2) }} </span>:
    <span id="seconds"> {{ ("0" + secondsToDday).slice(-2) }} </span>
  </div>
</div>

<ng-template #tripStarted>
  <h5 i18n class="text-danger">This trip already started</h5>
</ng-template>
