<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#headerCollapse"
      aria-controls="headerCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerCollapse">
      <form class="me-auto" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <ul class="navbar-nav mb-2 mb-md-0">
        <div>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/register">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Register
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" routerLink="" style="cursor: pointer">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
            </li> -->
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
