<nav
  class="navbar navbar-expand-md bg-light border-bottom border-secondary-subtle"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <object
        data="../../../../assets/images/logo.svg"
        width="40"
        height="40"
      ></object>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#headerCollapse"
      aria-controls="headerCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-row-reverse" id="headerCollapse">
      <ul class="navbar-nav mb-2 mb-md-0">
        <div>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/me">
                <i class="fa-solid fa-user" aria-hidden="true"></i>
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/register">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Register
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" routerLink="" style="cursor: pointer">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
            </li> -->
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
