<nav
  class="navbar navbar-expand-md bg-light border-bottom border-secondary-subtle"
>
  <div class="container-fluid">
    <a class="navbar-brand ps-2" routerLink="/">
      <img src="../../../../assets/images/logo.svg" width="40" height="40" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#headerCollapse"
      aria-controls="headerCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="headerCollapse">
      <ul class="navbar-nav mb-2 mb-md-0">
        <div>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <form class="d-flex me-2" role="search">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/trips"> Trips </a>
            </li>
            <li class="nav-item" *ngIf="!currentActor">
              <a class="nav-link active" routerLink="/singin">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Register
              </a>
            </li>
            <li class="nav-item" *ngIf="!currentActor">
              <a class="nav-link active" routerLink="/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
              </a>
            </li>
            <li class="nav-item dropdown" *ngIf="currentActor">
              <a
                href="javascript:void(0)"
                class="d-block link-dark text-decoration-none dropdown-toggle show"
                data-bs-toggle="dropdown"
                arial-expanded="false"
              >
                <img
                  src="https:/github.com/mdo.png"
                  alt="mdo"
                  class="rounded-circle img-fluid"
                  width="40px"
                />
              </a>
              <ul class="dropdown-menu text-small dropdown-menu-end">
                <li>
                  <a class="dropdown-item" routerLink="/me">Profile</a>
                </li>
                <li *ngIf="activeRole === 'manager'">
                  <a
                    class="dropdown-item"
                    routerLink="/trips/manager/{{ currentActor._id }}"
                    >My Trips</a
                  >
                </li>
                <li *ngIf="activeRole === 'explorer'">
                  <a
                    class="dropdown-item"
                    routerLink="/applications/explorer/:id"
                    >My Applications</a
                  >
                </li>
                <li *ngIf="activeRole === 'explorer'">
                  <a class="dropdown-item" routerLink="/favourites/explorer/:id"
                    >My Favourites</a
                  >
                </li>
                <li *ngIf="activeRole === 'sponsor'">
                  <a
                    class="dropdown-item"
                    routerLink="/sponsorships/sponsor/{{ currentActor._id }}"
                    >My Sponsorships</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#" (click)="logout()">
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
