<div class="row g-4 mt-2">
  <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="d-flex justify-content-between mb-3">
      <h2 i18n>My Pre-Cancelled Trips</h2>
      <div>
        <button
          i18n
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#preCancelledModal"
        >
          Cancell All
        </button>
      </div>
    </div>
    <div *ngIf="!loading && trips; else spinner">
      <div *ngIf="trips && trips.length > 0; else noTrips">
        <div
          *ngFor="let trip of trips"
          [ngClass]="{
            nextTrip: trip.isNext,
            startedTrip: trip.isStarted,
            overTrip: trip.isOver
          }"
          class="card mb-3 shadow-sm cardTrip"
        >
          <div class="row g-0">
            <div
              class="col-sm-3 d-none d-sm-block"
              routerLink="/trips/{{ trip._id }}"
            >
              <div
                *ngIf="trip.imageCollection[0]; else stdImage"
                class="bg-image card-img"
                [ngStyle]="{
                  'background-image':
                    'url(' + trip.imageCollection[0].image + ')'
                }"
              ></div>
              <ng-template #stdImage>
                <div class="bg-std-image"></div>
              </ng-template>
            </div>
            <div class="col-12 col-sm-9">
              <div class="card-body">
                <div class="row" routerLink="/trips/{{ trip._id }}">
                  <div class="col-12 col-lg-8">
                    <h4 class="card-title">
                      {{ trip.title }}
                    </h4>
                  </div>
                  <div class="col-12 col-lg-4">
                    <p class="card-text text-lg-end h4">
                      <span class="badge bg-success shadow-price">
                        {{ trip.price | currency }}
                      </span>
                    </p>
                  </div>
                  <div class="row mt-2">
                    <small class="card-text">
                      {{ trip.startDate | date : "shortDate" }} -
                      {{ trip.endDate | date : "shortDate" }}
                    </small>
                  </div>
                  <p *ngIf="trip.isNext" class="card-text h5">
                    <span i18n class="badge bg-danger"
                      >Few days left to start it</span
                    >
                  </p>
                  <p *ngIf="trip.status == 'PRE_CANCELLED'">
                    <span i18n class="badge bg-warning"
                      >Marked as pre-cancelled trip</span
                    >
                  </p>
                  <small class="mt-2">Ticker: {{ trip.ticker }}</small>
                </div>
                <div class="text-end">
                  <div
                    *ngIf="trip.status == 'DRAFT'; else publishedTrip"
                    class="btn-group"
                  >
                    <button
                      class="btn btn-primary"
                      routerLink="/trips/form/edit/{{ trip._id }}"
                    >
                      Edit
                    </button>
                    <button
                      i18n
                      type="button"
                      class="btn btn btn-danger publish-btn"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="'#publishTripModal' + trip._id"
                    >
                      Publish
                    </button>
                  </div>
                  <ng-template #publishedTrip>
                    <div *ngIf="!trip.isNext" class="btn-group">
                      <button
                        i18n
                        class="btn btn-primary"
                        (click)="undoPreCancelledTrip(trip._id)"
                        role="button"
                      >
                        Unmark as pre-cancelled
                      </button>
                    </div>
                    <div *ngIf="trip.isNext">
                      <span i18n
                        >This trip cannot be cancelled,<br />because it will
                        start soon</span
                      >
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="preCancelledModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" i18n>You are going to cancel the trips</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul>
              <li *ngFor="let trip of trips">
                {{ trip.title }} ({{ trip.ticker }})
              </li>
            </ul>
            <p i18n>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              i18n
              (click)="cancelBatchOfTrips()"
              data-bs-dismiss="modal"
            >
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #spinner>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
    <ng-template #noTrips>
      <p i18n>No more trips to cancel</p>
    </ng-template>
  </div>
</div>
