<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 i18n class="modal-title fs-5" id="createApplicationModal">
                    Application
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addApplication(params)" #params="ngForm">
                    <div class="form-group has-danger">
                        <!-- <input type="hidden" class="form-control" id="explorer_id" name="id" ngModel [value]="id" />
                        <input type="hidden" class="form-control" id="trip_id" name="id" ngModel [value]="trip._id" /> -->
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Comment:</label>
                            <textarea class="form-control" id="comment" name="comment" ngModel></textarea>
                        </div>
                        <div class="btn-group">
                            <button i18n type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button i18n type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                Save changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>