<div class="modal fade" id="{{ 'rejectApplicationModal' + applicationId }}" tabindex="-1" aria-labelledby="rejectApplicationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 i18n class="modal-title fs-5" id="rejectApplicationModal">
                    Reject application
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="rejectApplication(params)" #params="ngForm">
                    <div class="form-group has-danger">
                        <div class="mb-3">
                            <label i18n for="message-text" class="col-form-label">Reason:</label>
                            <textarea class="form-control" id="reason" name="reason" ngModel></textarea>
                        </div>
                        <div class="btn-group">
                            <button i18n type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button i18n type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                Reject
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>