<footer class="footer-distributed bg-light">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-5 mb-4">
      <div class="footer-left">
        <div class="d-flex align-items-center mb-2">
          <object
            class="me-2"
            data="../../../../assets/images/logo-footer.svg"
            width="40"
            height="40"
          ></object>
          <h3 class="m-0">Acme Explorer</h3>
        </div>
        <p class="footer-links">
          <a i18n href="#">Terms and conditions</a>
        </p>
        <p class="footer-company-name">
          Acme-Explorer, Inc. &copy; {{ today | date : "medium" }}
        </p>
        <span class="text-muted">
          <b i18n>Visitors</b>
          {{ visitorsNumber }}
        </span>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      <div class="footer-center">
        <div>
          <p>
            <i class="fa fa-map-marker me-1"></i>
            Av. Reina Mercedes s/n, 41012<br />Sevilla, Spain
          </p>
        </div>
        <div>
          <p>
            <i class="fa-solid fa-phone me-1"></i>
            +34 456123987
          </p>
        </div>
        <div>
          <p>
            <i class="fa-solid fa-envelope me-1"></i>
            <a href="#">mailto@acmeexlporer.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="footer-right">
        <p class="footer-company-about">
          <span i18n class="h5">About us</span><br />
          <ng-container i18n>
            We are your trusted travel agency, the closest and safest. Your
            vacations are assured if you trust us. The best destinations and the
            most exciting places to discover are at your hand.
          </ng-container>
        </p>
        <div class="footer-icons">
          <a><i class="fa-brands fa-facebook"></i></a>
          <a><i class="fa-brands fa-instagram"></i></a>
          <a><i class="fa-brands fa-twitter"></i></a>
          <a><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
