<div class="row mt-3">
  <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <h2 i18n>Add New Trip</h2>
    <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
      <input type="hidden" class="form-control" formControlName="manager_id" />
      <div class="form-group">
        <div class="row mb-2">
          <div class="col">
            <label class="center-block fw-bold" i18n>Title:</label>
            <input type="text" class="form-control" formControlName="title" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label class="center-block fw-bold" i18n>Description:</label>
            <textarea
              class="form-control"
              formControlName="description"
              rows="4"
            ></textarea>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label class="center-block fw-bold" i18n>Start date:</label>
            <input
              type="date"
              class="form-control"
              formControlName="startDate"
            />
          </div>
          <div class="col">
            <label class="center-block fw-bold" i18n>End date:</label>
            <input type="date" class="form-control" formControlName="endDate" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="center-block fw-bold" i18n>Requirements:</label>
            <textarea
              class="form-control"
              formControlName="requirements"
              i18n-placeholder="
                Enter the requirements separated by dashes as in the following
                example: - Passport - Tickets for the event - Etc
              "
              rows="6"
            ></textarea>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-between">
              <label class="center-block fw-bold" i18n>Images:</label>
              <input
                class="form-control file-input"
                id="inputImageFile"
                type="file"
                (change)="onFileSelected($event)"
                #fileUpload
              />
              <div class="file-upload">
                <button
                  type="button"
                  class="btn btn-primary upload-btn"
                  (click)="fileUpload.click()"
                >
                  <i class="fa-solid fa-plus"></i>
                  &nbsp;<i class="fa-regular fa-image"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div
            *ngFor="let image of imagesCollection"
            class="col-6 col-sm-4 col-md-3 mb-3"
          >
            <div class="remove-img" (click)="removeImage(image)">
              <i class="fa-solid fa-x"></i>
            </div>
            <img [src]="image" class="img-fluid" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="d-flex justify-content-between mb-1">
              <label class="center-block fw-bold" i18n>Stages:</label>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#newStageModal"
              >
                <i class="fa-solid fa-plus"></i
                ><span i18n>&nbsp;Add stage</span>
              </button>
            </div>
            <table *ngIf="stagesCollection.length > 0" class="table">
              <thead>
                <tr>
                  <th scope="col" i18n>Title</th>
                  <th scope="col" i18n>Description</th>
                  <th scope="col" i18n>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stage of stagesCollection">
                  <td>{{ stage.title }}</td>
                  <td>{{ stage.description }}</td>
                  <td>{{ stage.price }}</td>
                  <td>
                    <span style="text-align: end" (click)="removeStage(stage)"
                      ><i class="fa-solid fa-x"></i
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="d-grid">
        <button
          i18n
          type="submit"
          class="btn btn-success"
          data-bs-dismiss="modal"
        >
          Save draft trip
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="newStageModal"
  tabindex="-1"
  aria-labelledby="newStageModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 i18n class="modal-title" id="newStageModalLabel">New Stage</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddStage(f)" #f="ngForm">
          <div class="form-group">
            <label i18n for="stageTitle">Title:</label>
            <input
              type="text"
              class="form-control"
              id="stageTitle"
              name="stageTitle"
              ngModel
            />
            <label i18n for="stageDescription">Description:</label>
            <textarea
              class="form-control"
              name="stageDescription"
              id="stageDescription"
              ngModel
            ></textarea>
            <label i18n for="stagePrice">Price:</label>
            <input
              type="number"
              class="form-control"
              id="stagePrice"
              name="stagePrice"
              ngModel
            />
          </div>
          <br />
          <div class="btn-group">
            <button
              i18n
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              i18n
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
