<div class="row mt-3">
  <div class="col col-md-6 offset-md-3">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
      <fieldset>
        <h2 i18n>Signup</h2>
        <legend *ngIf="activeRole === 'anonymous'" i18n>Register new explorer</legend>
        <legend *ngIf="activeRole === 'administrator'" i18n>Register new manager or sponsor</legend>
        
        <div *ngIf="activeRole === 'administrator'" class="form-group has-danger mb-3">
          <label i18n for="role" class="form-label">Select role:</label>
          <select 
          formControlName="role"
          id="role" 
          class="form-select" 
          aria-label="select role">
            <option i18n value="">Roles</option>
            <option i18n value="MANAGER">Manager</option>
            <option i18n value="SPONSOR">Sponsor</option>
          </select>
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="name" class="form-label">Name:</label>
          <input
            id="name"
            class="form-control shadow-sm"
            type="text"
            formControlName="name"
            required
          />
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="surname" class="form-label">Surname:</label>
          <input
            id="surname"
            class="form-control shadow-sm"
            type="text"
            formControlName="surname"
            required
          />
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="email" class="form-label">Email:</label>
          <input
            id="email"
            class="form-control shadow-sm"
            type="text"
            formControlName="email"
            required
          />
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="password" class="form-label">Password:</label>
          <input
            id="password"
            class="form-control shadow-sm"
            type="password"
            formControlName="password"
            required
          />
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="phone" class="form-label">Phone:</label>
          <input
            id="phone"
            class="form-control shadow-sm"
            type="text"
            formControlName="phone"
          />
        </div>

        <div class="form-group has-danger mb-3">
          <label i18n for="address" class="form-label">Address:</label>
          <input
            id="address"
            class="form-control shadow-sm"
            type="text"
            formControlName="address"
          />
        </div>

        <button i18n type="submit" class="btn btn-primary mb-3 shadow-sm">
          Register
        </button>
        <app-message></app-message>
      </fieldset>
    </form>
  </div>
</div>
