<div class="row">
    <div class="col col-md-6 offset-md-3">
        <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
            <fieldset>
                <legend>Register new actor</legend>

                <div class="form-group has-danger mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input id="name" class="form-control" type="text" formControlName="name" required />
                </div>

                <div class="form-group has-danger mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <input id="surname" class="form-control" type="text" formControlName="surname" required />
                </div>

                <div class="form-group has-danger mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="email" class="form-control" type="text" formControlName="email" required />
                </div>

                <div class="form-group has-danger mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input id="password" class="form-control" type="password" formControlName="password" required />
                </div>

                <div class="form-group has-danger mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input id="phone" class="form-control" type="text" formControlName="phone" />
                </div>

                <div class="form-group has-danger mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <input id="address" class="form-control" type="text" formControlName="address" />
                </div>

                <button type="submit" class="btn btn-primary mb-3">
                    Register
                </button>

                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    {{errorMessage}}
                </div>

                <div *ngIf="successMessage" class="alert alert-success" role="alert">
                    {{successMessage}}
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <p>Already registered? <a href="/login"> Login</a></p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>