<div class="row mt-4">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="h5">
              <span
                *ngIf="sponsorship.status == 'ACCEPTED'"
                class="badge bg-success"
              >
                #{{ sponsorship.status }}
              </span>
              <span
                *ngIf="sponsorship.status == 'PENDING'"
                class="badge bg-warning"
              >
                #{{ sponsorship.status }}
              </span>
              <span
                *ngIf="sponsorship.status == 'CANCELLED'"
                class="badge bg-danger"
              >
                #{{ sponsorship.status }}
              </span>
            </p>
          </div>
          <div class="col">
            <p class="card-text text-end h3">
              <span class="badge bg-success">
                {{ sponsorship.amount | currency }}
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="card-title">
              <strong i18n>Landing page</strong>:
              <a href="{{ sponsorship.landingPage }}">{{
                sponsorship.landingPage
              }}</a>
            </p>
            <div class="row mt-1">
              <div class="col-12">
                <p><strong>Banner</strong></p>
                <img
                  class="img-fluid"
                  src="{{ sponsorship.banner.image }}"
                  alt="Imagen de patrocinio"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
