<div class="row g-4 mt-2" *ngIf="activeRole === 'explorer'">
  <div class="col-12">
    <form class="row gy-2 gx-3 align-items-center" role="search" (ngSubmit)="search(filters)" #filters="ngForm">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <input class="form-control" type="search" placeholder="Keyword" aria-label="Search" name="keyword" ngModel />
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <input class="form-control" type="number" min="0" placeholder="Minimum Price" aria-label="Search"
          name="minPrice" ngModel />
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <input class="form-control" type="number" min="0" placeholder="Maximum Price" aria-label="Search"
          name="maxPrice" ngModel />
      </div>
      <div class="col-6 col-md-5 col-lg-3 offset-lg-2">
        <input class="form-control" type="date" placeholder="Minimum Date" aria-label="Search" name="minDate" ngModel />
      </div>
      <div class="col-6 col-md-5 col-lg-3">
        <input class="form-control" type="date" placeholder="Maximum Date" aria-label="Search" name="maxDate" ngModel />
      </div>
      <div class="text-center col-md-2">
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="trips && trips.length > 0" class="row g-4 mt-2">
  <div *ngFor="let trip of trips" class="col-12 col-md-6">
    <div class="card" routerLink="/trips/{{ trip._id }}">
      <div class="card-body row">
        <div class="d-flex">
          <div class="d-flex flex-column col-9">
            <h4 class="card-title">
              {{ trip.title }}
            </h4>
            <small class="card-text">
              {{ trip.startDate | date : "dd/MM/yyyy" }} -
              {{ trip.endDate | date : "dd/MM/yyyy" }}
            </small>
          </div>
          <div class="align-self-center col-2 offset-1">
            <p class="card-text text-center h4">
              <span class="badge bg-success"> {{ trip.price }} $ </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>