<div *ngIf="trips && trips.length > 0" class="row g-4 mt-2">
  <div *ngFor="let trip of trips" class="col-12 col-md-6">
    <div class="card" routerLink="/trips/{{ trip._id }}">
      <div class="card-body row">
        <div class="d-flex">
          <div class="d-flex flex-column col-9">
            <h4 class="card-title">
              {{ trip.title }}
            </h4>
            <small class="card-text">
              {{ trip.startDate | date : "dd/MM/yyyy" }} -
              {{ trip.endDate | date : "dd/MM/yyyy" }}
            </small>
          </div>
          <div class="align-self-center col-2 offset-1">
            <p class="card-text text-center h4">
              <span class="badge bg-success"> {{ trip.price }} $ </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
