<div class="modal fade" id="cancellationModal" tabindex="-1" aria-labelledby="cancellationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 i18n class="modal-title fs-5" id="cancellationModalLabel">
                    Application cancellation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group has-danger">
                    <p i18n>You are going to cancel the application for this trip. Are you sure?</p>
                    <br />
                    <div class="btn-group">
                        <button i18n type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button i18n type="submit" (click)="cancel()" class="btn btn-primary" data-bs-dismiss="modal">
                            Yes, cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>