/* You can add global styles to this file, and also import other style files */
.file-input {
  display: none;
}
.remove-img {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  top: 30px;
  left: 4px;
  padding: 1px 5px;
  background-color: white;
}
.validation-msg {
  color: rgb(183, 1, 1);
  margin-top: 1px;
}
